body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
 .main-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
 }
 .team-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
 }
 .portfolio-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
 }
 .webstudio {
     font-weight: 700;
     font-size: 18px;
     line-height: 21px;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #f4f4fd;
     /* Цвет для "Studio" */
 }

 .web {
     color: #4d5ae5;
     /* Цвет для "Web" */
 }
 .footer-text{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #f4f4fd;
 }